.about-wrapper {
  margin-top: -100px;
  height: 100vh;
}
.about-container {
  padding: 140px 0px 0px 0px;
  display: block;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.me {
  display: flex;
  justify-content: flex-start;
  padding-left: 25vw;
}

.me-image {
  padding-right: 20px;
  width: 200px;
  height: 200px;
}

.desc {
  display: flex;
  justify-content: flex-start;
}

.about-title {
  font-size: 45px;
  font-family: 'Open Sans', sans-serif; 
  font-weight: 600;
}
.about-content {
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
}
.desc-p {
  font-size: 25px;
  padding-right: 20vw;
}



.social-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.linkedin-container {
padding-right: 10px;
}

.linkedin {
  width: 30px;
  padding: 0px;
}
.linkedin:hover {
  transform: scale(1.1);
}


.github-container {
  padding-left: 10px;
}
.github {
  width: 30px;
  padding: 0px;
}
.github:hover {
  transform: scale(1.1);
}

.cert-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-direction: row;
  scroll-behavior: smooth;
  position: relative;
  margin-top: 20px;
}
.cert-image {
  width: 600px;
  height:380px;
  transition: all .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.cert-image:hover {
  opacity: .9;
  filter: grayscale(20%);
  transform: scale(1.04);
}



.contact-route-container {
padding-top: 20px;
text-align: center;
font-size: 18px;
}
.contact-route {
  text-decoration: underline;
  color: #0000EE;
}

.contact-route:visited {
  color: #551A8B;
}


@media (max-width:600px) {
  .cert-image {
    width: 300px;
    height: 200px;
  }
  .about-container {
    flex-direction: column;
  }
  .me {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  .me-image {
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
    padding-right: 0;
    }
  .desc {
    justify-content: center;
  }
  .desc-p {
    padding-right: 0;
    text-align: center;
  }
  .about-content {
    padding: 0px 15px 0px 15px;
    padding-top: 15px;
  }
}