
.navbar {
  background: white;
  padding-right: 20px;
  padding-top: 10px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.menu-bars {
  margin-left: 20px;
  margin-top: 15px;
  transform: scale(2);
}

.nav-menu {
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transform: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 80px 20px 40px;
  list-style: none;
  height: 20px;
  text-align: center;
  
}

.nav-text a {
  text-align: center;
  text-decoration: none;
  color: #28282B;
  font-size: 22px;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px;
  border-radius: 4px;
}
.nav-text a:hover {
  opacity: .8;
}

.nav-menu-items {
  width: 100vw;
  background: white;
  border-radius: 2px;
  padding: 0;
  position: relative;
  z-index: 9999;
}

.navbar-toggle {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 9999;
}

@media (min-width: 600px) {
  .navbar {
    display: none;
  }
}