.nav-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  letter-spacing: 2px;
  }



  .home-link-wrapper {
    grid-area: 1 / 1 / 2 / 2;
    padding: 40px 40px 20px 80px;
  }
  .home-link {
    text-align: left;
    
  }
  .home-text {
    font-size: 20px;
    opacity: 1;
    transition: all .2s ease-in-out;
  }
  .home-text:hover {
    opacity: 0.6;
    transform: scale(1.01);
    color: #0960a7;
  }
  .home-text:active {
    color: #0960a7;
  }



  .nav-link-wrapper {
    grid-area: 1 / 3 / 2 / 4; 
    display: flex;
    flex-direction: row;
    padding: 40px 40px 20px 80px;
    font-size: 18px;
  }
  .resume-link-wrapper {
    padding: 0px 24px;
  }
  .resume-text:hover {
    opacity: 0.6;
    transform: scale(1.01);
    color: #0960a7;
  }
  .resume-text:active {
    color: #0960a7;
  }
  
  .about-link-wrapper {
    padding: 0px 24px;
  }
  .about-text:hover {
    opacity: 0.6;
    transform: scale(1.01);
    color: #0960a7;
  }
  .about-text:active {
    color: #0960a7;
  }

  .contact-link-wrapper {
    padding: 0px 24px;
  }
  .contact-text:hover {
    opacity: 0.6;
    transform: scale(1.01);
    color: #0960a7;
  }
  .contact-text:active {
    color: #0960a7;
  }