.thankyou-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 425px;
  height: 350px;
  padding: 35px 50px;
  border-radius: 2px;
  background: rgba(108, 108, 108, 0.187);
  backdrop-filter: saturate(180%) blur(6px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contact-text-text {
  font-family: 'Open Sans', sans-serif; 
  font-weight: 600;
  padding-bottom: 20px;
  color: #28282B;
  font-size: 35px;
  display: block;
  margin:auto;
}


.giphy-embed {
  margin: 12px;
}

@media (max-width: 600px) {
  .thankyou-wrapper{
    margin-top: 50px;
    width: 275px;
    height: 250px;
    padding: 35px 25px;
  }
  .contact-text-text {
    padding-bottom: 20px;
    color: #28282B;
    font-size: 35px;
    display: block;
    margin:0;
  }
  .giphy-embed {
    width: 100%;
    margin-top: 2px;
  }
}
