.thankyou-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 425px;
  height: 350px;
  padding: 35px 50px;
  border-radius: 2px;
  background: rgba(108, 108, 108, 0.187);
  backdrop-filter: saturate(180%) blur(6px);
}

.contact-text-text {
  padding-bottom: 20px;
  color: rgb(57, 55, 55);
}


.giphy-embed {
  margin: 12px;
}

.return-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  color: rgb(57, 55, 55);
  font-size: 10px;
  margin-top: 5px;
  height: 45px;
}

.return-button:hover {
  opacity: 0.6;
  transform: scale(1.01);
  color: #0960a7;
}