.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 
  rgba(255, 255, 255, 0.208), rgb(255, 255, 255)), url("https://i.imgur.com/Laqczwc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-top: -100px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 425px;
  height: 350px;
  padding: 35px 50px;
  border-radius: 2px;
  background: rgba(108, 108, 108, 0.187);
  backdrop-filter: saturate(180%) blur(6px);
}

.contact-text {
  padding-bottom: 20px;
  color: #354A54;
  font-size: 35px;
  display: block;
  margin:auto;
}

input {
  height: 30px;
}

input, textarea {
  margin: 5px 0px 5px 0px;
  padding-left: 6px;
}

textarea {
  height: 100px;
}

input:focus, textarea:focus {
  outline-color: #9bc1d6;
}

.input-button {
  width: 100%;
  text-align: center;
  border-radius: 2px;
  margin-top: 15px;
  height: 50px;
  cursor: pointer;
  background-color: #9bc1d6;
  color: #354A54;
  font-size: 16px;
  border: none;
}

.input-button:hover {
  opacity: 0.6;
  transform: scale(1.01);
}
