
.preview-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-direction: row;
  scroll-behavior: smooth;
  position: relative;
  margin-top: 80px;
}


.image-wrapper {
  margin: 5px;
  padding: 20px 40px;
  cursor: pointer;
  display: inline-block;
}
.syndicate-preview {
  width: 600px;
  height:380px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all .4s ease-in-out;
}
.syndicate-preview:hover {
  opacity: .9;
  filter: grayscale(20%);
  transform: scale(1.04);
}

.scroll-to-top-wrapper {
  text-align: center;
  margin: 32px;
}
.scroll-to-top {
  padding: 32px;
}
.scroll-to-top-text {
  display: inline-block;
  position: relative;
  color: #28282B;
  font-weight: 400;
  opacity: .6;
  font-size: 18px;
}
.scroll-to-top-text:after {
  content: '';
position: absolute;
left: 0;
display: inline-block;
height: 1em;
width: 100%;
border-bottom: 3px solid;
margin-top: 10px;
opacity: 0;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: scale(0,1);
transform: scale(0,1);
}
.scroll-to-top-text:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  color: #9bc1d6;
}


/* @media (max-width:767px) {
  .image-wrapper {
    flex-basis: calc(50% - 12px);
  }
} */
@media (max-width:600px) {
  .syndicate-preview {
    width: 300px;
    height: 200px;
  }
  .preview-wrapper {
    margin-top: 40px;
  }
  .scroll-to-top-wrapper {
    margin: 12px;
  }
}
/* @media (max-width:460px) {
  .image-wrapper {
    flex-basis: 100%;
  }
} */

